* {
    margin: 0%;
    padding: 0%;
}

/* header releted style */
.header-banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner_Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    margin: 50px 50px;
    padding: 177px 344px;
    border-radius: 16px;
}

.hbanner-subtitle {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

.hbannerr-title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}

/* Discount releted style */
.discount {
    margin: 70px 280px;
}

.discount-offer {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
}

.discount-subtitle {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.discount-title {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

.discount-imageg {
    max-width: 800px;
    max-height: 500px;
}
