* {
    margin: 0%;
    padding: 0%;
}

/* header releted style */
.header-banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner_Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    margin: 50px 50px;
    padding: 177px 344px;
    border-radius: 16px;
}

.hbanner-subtitle {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

.hbannerr-title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}